{% extends "main/base.html" %}

{% block app_content %}
    <h1>{{ _('Reset Password') }}</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="email">{{ _('Email') }}:</label>
        <input type="text" class="form-control" placeholder="{{ _('Enter email') }}" name="email" id="email" required>
          <div class="valid-feedback">{{ _('Valid') }}</div>
          <div class="invalid-feedback">{{ _('Please fill out this field') }}</div>
      </div>
      <button type="submit" class="btn btn-primary" name="submit" id="submit">{{ _('Reset') }}</button>
    </form>
{% endblock %}

