{% extends "main/base.html" %}

{% block app_content %}
    <b>
FlaskCMS is a non-commercial for newbies and strange people like me, who like Flask.
The project intends to simplify how you create the project structure.

You can be an anonymous user here, just create a project and grab your zip with prepared env, requirements,
and blueprints so that you don't need to read manual every time.

You can register on my site, store a few templates.
You can generate projects and just see how files are written.
Feel free to use it, send me any feedback.

Thank you,
Alexey
    </b>

{% endblock %}
