{% extends "main/base.html" %}

{% block app_content %}
  <table class="table table-dark">
    <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Email') }}</th>
        <th>{{ _('Feedback') }}</th>
        <th>{{ _('Date') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if feedbacks | length %}
        {% for feedback in feedbacks %}
        <tr>
          <td>{{ feedback.name }}</td>
          <td>{{ feedback.email }}</td>
          <td>{{ feedback.content }}</td>
          <td>{{ moment(feedback.timestamp).format('LLL') }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endblock %}